<nav>
    <div class="nav-wrapper red darken-4">
        <a href="{% url 'employee:homepage' %}" class="brand-logo"><img
                src="https://crunchbase-production-res.cloudinary.com/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/v1491533844/gllspkhrovhumsyml31f.png">
        </a>
        <ul id="nav-mobile" class="right">
            <li><a href="{% url 'employee:assestment' %}">Assestment</a></li>
            <li><a href="{% url 'employee:promotion' %}">Promotion</a></li>
            <li><a href="{% url 'employee:result' %}">Performance</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </div>
</nav>