<nav>
    <div class="nav-wrapper red darken-4">
        <a href="{% url 'employee:homepage' %}" class="brand-logo left"><img
                src="https://www.telkomakses.co.id/images/logo_ta.png" style="width:130px; border-left:10px;">
        </a>
        <ul id="nav-mobile" class="right">
            <li><a href="{% url 'employee:assestment' %}">Assestment</a></li>
            <li><a href="{% url 'employee:promotion' %}">Promotion</a></li>
            <li><a href="{% url 'employee:result' %}">Performance</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            <li><a href="{% url 'admin:logout' %}?next=/">Logout</a></li>
        </ul>
    </div>
</nav>