{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block heading %}
    Dashboard
{% endblock %}

{% block content %}
    <table class="striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Nama</th>
            <th>NIK</th>
            <th>Action</th>
        </tr>
        <tbody data-bind="foreach: EmployeeViewModel.models.employees()">
        <tr>
            <td data-bind="text: $index()+1"></td>
            <td data-bind="text: full_name"></td>
            <td data-bind="text: nik"></td>
            <td><a class="waves-effect waves-light btn-small red darken-4"
                   data-bind="click: EmployeeViewModel.methods.onClickButtonEvaluation">Nilai</a></td>
        </tr>
        </tbody>
        </thead>
    </table>
    </div>
{% endblock %}

{% block app_js %}
    <script>{% include 'employee/dashboard.js' %}</script>
{% endblock %}